<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active acbgcolor" ><a href="/admin/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>

    <li class="submenu acbgcolor"> <a href="/admin/generic"><i class="icon icon-th-list"></i> <span>Generic</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="/admin/generic/add-generic">Add New Generic</a></li>
        <li><a href="/admin/generic">Generics</a></li>
      </ul>
    </li>
    
  </ul>
</div>


<!--sidebar-menu-->